<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9QJOd5dlpXd7oTI2KPzMKGxgcS7RxzIs</string>
	<key>GCM_SENDER_ID</key>
	<string>726072268756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.songlib</string>
	<key>PROJECT_ID</key>
	<string>britam-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>britam-agent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726072268756:ios:a7dff2be3afaa78a6ba841</string>
</dict>
</plist>