<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517036698108-am2qh9rsac1i68db8v871f5elr144uf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517036698108-am2qh9rsac1i68db8v871f5elr144uf3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517036698108-6ct8oe0sapkg04mo59n9g9rk3t5umb60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB66pNAEQWntmRIcIPOk4lasAAhjmuUaqs</string>
	<key>GCM_SENDER_ID</key>
	<string>517036698108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.songlib</string>
	<key>PROJECT_ID</key>
	<string>songlibapp</string>
	<key>STORAGE_BUCKET</key>
	<string>songlibapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517036698108:ios:62d36159306b8c78a26a79</string>
</dict>
</plist>